<!-- Ajouter un vin -->
<div class="modal fade" id="wine-modal" tabindex="-1" role="dialog" aria-labelledby="wine-add" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="vins.php" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
                    <h4 class="modal-title" id="wine-add-model">Ajouter un vin</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="wine-nom">Nom :</label>
                        <input type="text" name="wine-nom" id="wine-nom" class="form-control" required/>
                    </div>
                    <div class="form-group">
                        <label for="wine-couleur">Couleur : </label>
                        <select name="wine-couleur" id="wine-couleur" class="form-control" required>
                            <option value="Rouge">Rouge</option>
                            <option value="Blanc">Blanc</option>
                            <option value="Rosé">Rosé</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="wine-millesime">Millésime : </label>
                        <input class="form-control" type="text" name="wine-millesime" id="wine-millesime" required/>
                    </div>
                    <div class="form-group">
                        <label for="wine-region">Région :</label>
                        <input class="form-control" type="text" name="wine-region" id="wine-region" required/>
                    </div>
                    <div class="form-group">
                        <label for="wine-caracteristiques">Caractéristiques :</label>
                        <input class="form-control" type="text" name="wine-caracteristiques" id="wine-caracteristiques" required/>
                    </div>


                    <div class="form-group">
                        <label for="wine-met">Met associé:</label>
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon">Nom: </span>
                                    <input class="form-control" type="text" name="wine-met" id="wine-met" required/>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon">Image:</span>
                                    <input class="form-control" type="file" name="wine-met-image" id="wine-met-url" accept="image/*" required/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="wine-prix">Prix :</label>
                        <input class="form-control" type="number" step="0.1" name="wine-prix" id="wine-prix" required/>
                    </div>
                    <div class="from-group">
                        <label for="wine-caviste">Caviste :</label>
                        <input class="form-control" type="text" name="wine-caviste" id="wine-caviste"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    <input type="submit" class="btn btn-primary" value="Ajouter"/>
                </div>
            </form>
        </div>
    </div>
</div>